<h1><%= @user.name %></h1>

<% if !@user.image.blank? %>
	<%= image_tag "#{@user.image}" %>
<% else %>
  <%= image_tag "profile.png" %>
<% end %>
<p><%= link_to "Edit your profile", edit_user_registration_path %></p>