<h1>New Sad Funnies</h1>
<div class="row">
  <div class="col-sm-8">
    <div id="posts">
			<% @posts.each do |post| %>
				<%= render "posts/posts", post: post %>
			<% end %>
		</div>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
</div>