PNotify.removeAll();
$("#post-<%= params[:post_id] %>").find("i.fa.fa-star").removeClass("favorite").addClass("unfavorite");
$(function(){
	new PNotify({
	    title: 'Favorited!',
	    text: 'This sad funny is now a favorite.',
	    type: 'success',
	    delay: 3000,
	    addclass: "alert-position"
	});
});
$("#post-<%= params[:post_id] %>").find("a.favorite-button")
.html('<a href="/favorite_posts/<%= params[:post_id] %>" data-method="delete" data-remote="true"><i class="fa fa-star unfavorite"></i></a>');
