<h1>SAHDF</h1>

<%= link_to "Post a sad funny", "#", class: "btn btn-success show-post-button", id: "show-post-form" %>

<div class="row">
	<div class="col-sm-8">
    <div id="post-form">
	    <%= render partial: "form" %>
	  </div>
	</div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div id="posts">
			<% @posts.each do |post| %>

				<%= post_style(post, current_user || User.new) %>
				
			<% end %>
		</div>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
</div>