<h1>SAHDF</h1>

<%= link_to "Post a sad funny", "#", class: "btn btn-success show-post-button", id: "show-post-form" %>

<div class="row">
	<div class="col-sm-8">
    <div id="post-form">
	    <%= render partial: "form" %>
	  </div>
	</div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div id="posts">
			<% @posts.reverse_each do |post| %>
				<div class="post">
				  <div class="post-body"><%= post.body %></div>
				  <div class="post-user"><%= link_to post.user.name, post.user %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>