// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-post-button {
	margin-bottom: 10px !important;
}
#post-form {
  background: #D8E9FD;
	display: none;
	margin: 0 0 10px;
	padding: 10px 10px 0;
}
.post {
  background: #E2E2E2;
	margin-bottom: 10px;
	padding: 10px;
	i { 
	  font-size: 1.2em;
	  padding: 2px 0 0 5px; 
	}
	.fb-like {
	  padding-left: 5px;
	}
	.favorite {
	  color: #adadad;
	}
	.unfavorite {
	  color: #E08E0B;
	}
}
a.post-body {
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  &:hover {
    color: #555;
    text-decoration: none;
  }
}
.post-picture {
	display: block;
}
.post-user {
  color: #777;
	font-size: 14px;
	float: left;
}
.user-profile-link {
	color: #777;
	text-decoration: underline;
	&:hover { color: #999; }
}
.form-errors {
	color: red;
}
.help-block {
	margin-bottom: -10px !important;
}
.navbar-post {
  background-color: #D8E9FD;
	width: 300px;
}
.divider-line {
  background-color: #d1d1d1;
	height: 1px;
	margin: 10px 0;
}
.votes {
  color: #595555;
  font-size: 14px;
}
.votes > span {
	color: #333;
}
.votes > a {
	color: #2780E3;
	cursor: pointer;
}