// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-post-button {
	margin-bottom: 10px !important;
}
#post-form {
  background: #dcede9;
  border-radius: 5px;
	display: none;
	margin: 0 0 10px;
	padding: 10px 10px 0;
}
.post {
	background: #EDEDED;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	.favorite {
	  color: #adadad;
	}
	.unfavorite {
	  color: #E08E0B;
	}
}
.post-body {
}
.post-name {
	font-size: 14px;
}
.form-errors {
	color: red;
}
.help-block {
	margin-bottom: -10px !important;
}