.profile-top-edit-image {
	padding: 10px 0;
}
.profile-image > img {
  background: #E2E2E2;
  border: 2px solid #E3E3E3;
  height: 100px;
  padding: 5px;
  width: 100px;
}
.h4.fb-connect {
  background: #3b5998;
  color: #FFF;
  display: inline-block;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 10px;
	&:hover {
	  background: #8B9DC3;
	  text-decoration: none;
	}
	i {
	  border-right: 1px solid #FFF;
	  margin-right: 10px;
	  padding-right: 10px;
	  @media (max-width: 330px) {
	    display: none;
	  }
	}
}
input[type="checkbox"] {
	margin: 5px 5px 0 0 !important;
}